body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #f8f6f6;
  position: relative; }
  body #profile-header {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100vw;
    background-color: #f8f6f6;
    justify-content: space-between; }
    body #profile-header span {
      margin-left: 40px;
      margin-top: 10px;
      text-align: left;
      font-size: xx-large;
      font-weight: 600;
      width: 85vw; }
    body #profile-header a {
      text-align: center;
      margin-top: 10px;
      padding-top: 9px;
      margin-right: 15px;
      text-decoration: none;
      height: 30px;
      width: 100px;
      background-color: #201f1f;
      color: wheat;
      font-size: medium; }
  body #body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1; }
    body #body-container #profile-details {
      height: 90vh;
      width: 300px; }
      body #body-container #profile-details div {
        margin: 10px; }
      body #body-container #profile-details img {
        margin-left: 40px;
        margin-top: 30px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover; }
      body #body-container #profile-details #choose-file {
        visibility: hidden;
        height: 0%;
        width: 0%; }
      body #body-container #profile-details #choose-file-btn {
        margin-left: -20px;
        display: inline-block;
        background-image: linear-gradient(50deg, red 0%, orange 70%);
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        font-size: 35px; }
      body #body-container #profile-details #choose-file-btn:hover {
        cursor: pointer; }
      body #body-container #profile-details #username {
        margin-left: 20px;
        font-size: 25px;
        font-weight: 600; }
      body #body-container #profile-details #user-email {
        margin-left: 30px;
        font-size: small; }
    body #body-container #posts-container {
      display: flex;
      flex-direction: column;
      width: 50vw; }
      body #body-container #posts-container h2 {
        margin-top: 10px;
        margin-left: 3vw;
        width: 100%;
        text-align: left; }
      body #body-container #posts-container #feed-posts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 60px; }
      body #body-container #posts-container #post-content {
        all: unset;
        margin-top: 5px;
        border-radius: 20px 20px 20px 20px;
        font-size: 19px;
        height: 25px;
        width: 82%;
        outline: none;
        padding: 5px;
        background-color: white;
        border: 2px solid lightgray; }
      body #body-container #posts-container #feed-posts > input {
        margin-top: 10px;
        margin-left: 10px;
        height: 30px;
        width: 30px;
        font-size: 28px;
        padding-inline: 0px; }
      body #body-container #posts-container #post-list-container > ul > li > a {
        margin-left: 10px; }
      body #body-container #posts-container #post-list-container > ul > li {
        list-style: none;
        width: 45vw;
        padding-bottom: 20px;
        margin-bottom: 30px;
        height: max-content;
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 4px 2px lightgrey;
        position: relative; }
        body #body-container #posts-container #post-list-container > ul > li .delete-button {
          position: absolute;
          left: 43.5vw;
          width: 20px;
          height: 40px; }
        body #body-container #posts-container #post-list-container > ul > li .delete-comment {
          display: inline-block;
          width: max-content; }
        body #body-container #posts-container #post-list-container > ul > li .delete-post-button, body #body-container #posts-container #post-list-container > ul > li .delete-comment-button {
          opacity: 0.2;
          display: inline-block;
          text-decoration: none;
          color: #9c9b9b;
          transition: all 0.25s; }
        body #body-container #posts-container #post-list-container > ul > li .delete-post-button {
          font-weight: 600;
          text-align: end;
          font-size: 25px; }
        body #body-container #posts-container #post-list-container > ul > li .delete-comment-button {
          font-weight: 600;
          text-align: end;
          font-size: 20px; }
        body #body-container #posts-container #post-list-container > ul > li .delete-button:hover .delete-post-button {
          opacity: 1; }
        body #body-container #posts-container #post-list-container > ul > li .delete-comment:hover .delete-comment-button {
          opacity: 1; }
        body #body-container #posts-container #post-list-container > ul > li .comment {
          height: 100%;
          font-size: 16px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: dimgrey;
          display: flex;
          flex-direction: row; }
        body #body-container #posts-container #post-list-container > ul > li #post-user {
          display: block;
          color: gray;
          margin: 10px;
          padding-top: 10px; }
        body #body-container #posts-container #post-list-container > ul > li .like-button {
          color: #9c9b9b;
          transition: all 0.25s linear; }
        body #body-container #posts-container #post-list-container > ul > li .like-button:hover {
          color: #e61d1d; }
          body #body-container #posts-container #post-list-container > ul > li .like-button:hover .material-symbols-outlined {
            font-variation-settings: 'FILL' 100; }
        body #body-container #posts-container #post-list-container > ul > li p {
          width: 90%;
          height: fit-content;
          margin-top: 20px;
          margin-left: 10px;
          padding-bottom: 10px;
          margin-bottom: 5px;
          border-bottom: 1px solid;
          border-color: lightgray;
          font-weight: 600;
          font-family: cursive; }
        body #body-container #posts-container #post-list-container > ul > li div {
          width: 100%;
          height: 30px; }
        body #body-container #posts-container #post-list-container > ul > li #comment-content {
          all: unset;
          font-style: italic;
          margin-left: 10px;
          margin-top: 5px;
          border-radius: 10px 10px 10px 10px;
          font-size: medium;
          height: 20px;
          width: 60%;
          padding: 2px;
          outline: none;
          border: 2px solid lightgray; }
        body #body-container #posts-container #post-list-container > ul > li ul > li > a {
          display: inline;
          height: 35px;
          width: 24px;
          font-size: 0px;
          text-align: center; }
          body #body-container #posts-container #post-list-container > ul > li ul > li > a .material-symbols-outlined {
            font-weight: 600;
            text-align: end;
            font-size: 20px; }
        body #body-container #posts-container #post-list-container > ul > li ul {
          list-style: none;
          padding-left: 0;
          margin-left: 10px;
          height: 23px; }
    body #body-container #friends-section {
      display: flex;
      flex-direction: column;
      height: 90vh;
      width: 250px; }
      body #body-container #friends-section * {
        margin: 10px; }
    body #body-container .create-button {
      all: unset;
      display: inline-block;
      margin-top: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: gray;
      background-color: white;
      font-size: larger;
      text-align: center;
      box-shadow: 1px 1px 1px 1px lightgray;
      cursor: pointer; }
  body aside {
    z-index: 2;
    position: absolute;
    height: 52vh;
    width: 300px;
    top: 45vh;
    left: 79vw; }
    body aside #chat-box {
      position: sticky;
      top: 52vh;
      left: 79vw;
      height: 400px;
      width: 300px;
      background-color: white;
      box-shadow: 2px 2px 5px 2px lightgrey;
      margin: 0; }
      body aside #chat-box #top-panel {
        width: 100%;
        height: 30px;
        background-color: #cfc18b; }
        body aside #chat-box #top-panel h3 {
          text-align: left;
          padding-top: 8px;
          color: #7e6b21;
          font-size: larger; }
      body aside #chat-box #message-window {
        width: 100%;
        height: 340px;
        background-color: cornsilk; }
        body aside #chat-box #message-window ul {
          list-style: none;
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: end; }
        body aside #chat-box #message-window .sender-message {
          text-align: left;
          margin: 10px;
          margin-right: 210px;
          padding: 2px 10px 2px 20px;
          border-radius: 10px 10px 10px 10px;
          background-color: #94e6e6;
          height: 20px;
          color: white;
          width: fit-content; }
        body aside #chat-box #message-window .user-message {
          text-align: left;
          margin: 10px;
          padding: 2px 20px 2px 10px;
          border-radius: 10px 10px 10px 10px;
          background-color: #48c413;
          height: 20px;
          width: fit-content;
          color: white; }
      body aside #chat-box #send-chat {
        display: flex;
        flex-direction: row;
        height: 30px; }
      body aside #chat-box #input-box {
        all: unset;
        width: 240px;
        height: 100%; }
      body aside #chat-box #send-chat-btn {
        border: none;
        cursor: pointer;
        font-size: large;
        height: 100%;
        width: 60px;
        background-color: greenyellow;
        text-align: center; }
